<!DOCTYPE html>

<p align = "right">
{% if request.user.profile_pic %}
    <img height="100" src="{{user.profile_pic.url}}" alt="profile photo">
{% endif %}<br><font size="5">
    {{user.username}} &nbsp;</font>
</p>
<p align = "right"><a href="logout" >
<font size="5">
    LogOut &nbsp;</font>
</a>
</p>

<h1>Welcome to To-do List</h1>

<form method="POST" action="/" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Sr No.(Integer only){{form.number}}</p>
    <p>Title : {{form.title}}</p>
    <p>Deadline(MM-DD-YYYY HH:MM:SS) : {{form.due}}</p>
    <p>(Timezone as per UTC)</p>
    <input type="submit" name="Create Task">
</form>
<h2>Already submitted tasks</h2>

<div>

{% for task in tasks %}
    <div>
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
        <p>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        </p>
        <p>_______________</p>
    </div>
{% endfor %}
</div>
