<!DOCTYPE html>

<p align = "right">{{user.username}} </p>
<p align = "right"><a href="logout" >LogOut</a></p>

<h1>Welcome to To-do List</h1>

<form method="POST" action="/">
    {% csrf_token %}
    <p>Sr No.(Integer only){{form.number}}</p>
    <p>Title : {{form.title}}</p>
    <input type="submit" name="Create Task">
</form>
<h2>Already submitted tasks</h2>

<div>

{% for task in tasks %}
    <div>
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
        <p>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        </p>
        <p>_______________</p>
    </div>
{% endfor %}
</div>