<!DOCTYPE html>

.<body align="center">
<h1>New Users need to register first</h1>

<form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
   <p> Username : {{form.username}}</p>
   <p> Email Add: {{form.email}}</p>
   <p> Password : {{form.password1}}</p>
   <p> Confirm Pass: {{form.password2}}</p>
   <p> First Name : {{form.first_name}}</p>
   <p> Last Name : {{form.last_name}}</p>
   <p> Phone No. : {{form.phone_no}}</p>
   <p> Profile Pic. : {{form.profile_pic}}</p>
   <p><input type = "submit" name = "CreateUser"></p>
</form>
<p>Already registered?
<a href='/login'>Sign In</a></p>

<hr>

<font align = "left" color = 'red' size = "1">{{form.errors}}</font>


