<!DOCTYPE html>
<h1 align = "center">New Users need to register first</h1>

<form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
   <p> Username {{form.username}}</p>
   <p> Email {{form.email}}</p>
   <p> Password {{form.password1}}</p>
   <p> Confirm Password {{form.password2}}</p>
   <p> First name {{form.first_name}}</p>
   <p> Last name {{form.last_name}}</p>
   <p> Phone Number {{form.phone_no}}</p>
   <p> Profile photo {{form.profile_pic}}</p>
    <p align = "center"><input type = "submit" name = "CreateUser"></p>
</form>
<font color = 'red'>{{form.errors}}</font>


<p align = "center">Already registered?
<a href='/login'>Sign In</a></p>
